@model IEnumerable<Long_Term_Care.Models.Order>

@{
	ViewBag.Title = "會員訂單列表";
	Layout = "_LayoutMember";
}
<div class="mb-4">
	<h4>
		<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">首頁</a>
		&nbsp>&nbsp<a class="btn btn-outline-secondary" href="/Members/Edit?id = member.MemberId">會員中心</a>
		&nbsp>&nbsp<a class="btn btn-success" asp-controller="Shopping" asp-action="OrderList">商品訂單</a>
	</h4>
	<hr />
</div>

<h2 class="mb-3">會員訂單列表</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.OrderGuid)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Receiver)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.City)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.District)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Date)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th>
			總金額
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OrderGuid)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Receiver)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.City)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.District)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalPrice)
			</td>
			<td>
				<a href="@Url.Action("OrderDetail")?OrderGuid=@item.OrderGuid" class="btn btn-info">訂單明細</a>
			</td>
		</tr>
	}

</table>